#TopBarGeral {
    padding: 0;
}

#TopBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: orangered;
    height: 5vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    h1 {
        margin: 0;
    }
}

.direita {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
    gap: 10%;
}

#botaoSair {
    border: 1px solid white;
    background-color: rgb(0, 0, 0);
}